@import 'tailwindcss';

@font-face {
	font-family: 'Google Sans';
	src: url('../fonts/GoogleSans-VariableFont_GRAD,opsz,wght.ttf')
		format('truetype-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-brand-purple: #61109c;
	--color-brand-purple-light: #9d21e9;
	--color-brand-pink: #e535a6;
	--color-brand-mint: #00ce85;
	--font-sans: 'Google Sans', sans-serif;
	--animate-pulse-scale: pulse-scale 1s ease-in-out infinite;
}

@layer base {
	@media (display-mode: standalone) {
		html {
			@apply bg-brand-purple;
		}
	}

	body {
		@apply min-h-dvh bg-linear-to-b from-brand-pink to-brand-purple-light;
	}

	h2 {
		@apply text-5xl font-semibold text-white;
	}
}

@keyframes pulse-scale {
	0%,
	100% {
		scale: 1;
	}
	50% {
		scale: 1.15;
	}
}
